* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
:root{
  --section-bg: #F7F7F7;
  --text-color: #444;
  --sub-title: #777;
  --accent: #838DFA;
  --btn-bg: #F65289;
  --light-color: #fff;
}
header {
  background-color: rgb(14, 14, 14);
  border-bottom: 1px whitesmoke solid;
}
#logo{
  width: 20%;
}
#logo img{
  width: 50%;
  height: 120px;
  flex-wrap: wrap;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
header a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}
#mobileshow{
  display: none;
}
header ul li{
  list-style: none;
}
.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}
#heightesection{
  width: 100%;
  height: auto;
}
.content .section {
  width: 100%;
  height: 100vh;
}
.content .section.hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), 
                    url(https://images.unsplash.com/photo-1589848315097-ba7b903cc1cc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.gradient-purple {
  background-color:white;
}

.gradient-blue {
  background-color: white;
}
.login{
  border: 1px solid black;
  width: 400px;
  height: 550px;
  background: url(./images/buildings.jpg);
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  bottom: 0; 
  right: 0;
  margin-bottom: 50px;
  margin-right: 150px;
}
form{
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(40%);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form h1{
  font-weight: normal;
  font-size: 24px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
label{
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding-left: 10px;
}
input{
  background : rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  border: none;
  margin-bottom: 20px;
  color: white;
}
button{
  background: rgb(45,126,231);
  height: 40px;
  line-height: 40px;
  border: none;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px;
}
#s2h1{
  font-size: 115px;
  font-weight: 700;
  animation: colorChange 8s linear infinite;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
@keyframes colorChange {
  0% {
      color: #2d94d8;
  }
  25% {
      color: #030503;
  }
  50% {
      color: #15afc3;
  }
  75% {
      color: #050505;
  }
  100% {
      color: #be481d;
  }
}
@media (max-width: 915px) {
  #logo{
    display: none;
  }
  li a{
    display: none;
  } #mobileshow{
    display: block;
    color: white;
  }
  #icondiv{
    display: none;
  }
  header .container{
   justify-content: center;
  }
  .main-heading {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
    0% {
        color: #ff0000;
    }
    25% {
        color: #00ff00;
    }
    50% {
        color: #0000ff;
    }
    75% {
        color: #ffff00;
    }
    100% {
        color: #ff0000;
    }
} #s2h1{
   display: none;
} .login{
  display: none;
}
}
.section {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gradient-blue {
  background-color: white; 
}

.background-video {
  width: 80%; 
  height: 80%; 
  object-fit: cover;
  position: relative;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .background-video {
    width: 100%; 
    height: auto;
  }
}
.form-wrap {
  background-color: pink;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.form-control {
  border-radius: 40px;
  padding: 10px 20px;
}
textarea {
  resize: none;
}
#formconatiner{
  border-radius: 20px;
}
#btn{
  background-color: pink;
}
footer {
  padding-top: 6.25rem;
  padding-bottom: 6.25em;
}
.footer-menu-area {
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  display: flex;
  gap: 1.5rem;
}
.footer-menu a {
  color: var(--text-color);
  text-decoration: none;
}
.footer-menu a:hover {
  color: var(--btn-bg);
}
.footer-menu li{
  list-style: none;
}
.copyright {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}
footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}